body {
  background-color: #9dbebb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: solid 5px; */
}

.card {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 954px;
  height: 594px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to right,
    #be0909 0%,
    #be0909 66%,
    #ffb039 66%,
    #ffb039 100%
  );
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 45%;
  height: 450px;
  padding-left: 5%;
  margin-top: -12%;
  background-color: #be0909;
  color: #be0909;
}

label {
  color: #ffffff;
  font-family: "roboto", serif;
  font-size: 18px;
  letter-spacing: 3px;
  padding-top: 5%;
  font-weight: 400;
}

input {
  background-color: #be0909;
  color: #ffffff;
  height: 60px;
  border: none;
  border-bottom: 1px solid;
}

input::placeholder {
  color: #ffffff;
  font-family: "roboto", serif;
  letter-spacing: 30%;
  font-size: 18px;
}

input:hover {
  border: none;
  border-bottom: #ffb039 1px solid;
}

#email,
#message_regarding {
  width: 40%;
}

.send_message:hover {
  color: #ffb039;
}

.send_message {
  font-family: "roboto", serif;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  width: 202px;
  height: 40px;
  background: #468189;
  border-radius: 40px;
  border: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 20%;
  bottom: 10%;
}

.duck {
  position: absolute;
  left: 39%;
  top: 14%;
  z-index: 1;
}
